name: CI

on:
  push:
    branches: [ main, master, develop ]
  pull_request:
    branches: [ main, master, develop ]
  workflow_dispatch:

jobs:
  call-workflow:
    uses: ai-ulu/.github/.github/workflows/pipeline.yml@main
